.containerPageArea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 10%;
}

.selectPageArea{
    border: 2px solid #aaa;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.selectPageArea a {
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #aaa;
}

.selectPageArea a.thisPage {
    background-color: rgb(174, 0, 0);
    color: #fff;
}